<div id="<%= dom_id cat %>">
  <p>
    <strong>Category:</strong>
    <%= cat.category_id %>
  </p>

  <p>
    <strong>Cat name:</strong>
    <%= cat.cat_name %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= cat.article %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= cat.time %>
  </p>

</div>
